.spec{
    position: relative;
}

.add_spec{
    position: absolute;
    right: -25px;
    font-size: 23px;
    top: 1px;
    background: green;
    padding: 2px 5px 0 5px;
    color: white;
}

.remove_spec{
    position: absolute;
    right: -25px;
    font-size: 23px;
    top: 1px;
    background: green;
    padding: 2px 5px 0 5px;
    color: white;
}